@{
    Layout = "_Login_Layout";
    ViewData["Title"] = "Change Password Page";
}

<div class="col-md-6 contents">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="mb-4">
                <h3>Change Password </h3>
                <p class="mb-4">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.</p>
            </div>
            @using (Html.BeginForm())
            {
                <p>Current User : @ViewBag.UserName</p>
                <br />

                <br />
                <p>Old Password : </p>
                @Html.TextBox("oldPwd")
                <br />

                <br />
                <p>New Password : </p>
                @Html.TextBox("newPwd")
                <br />
                <br />
                <p>Confirm Password : </p>
                @Html.TextBox("RetypeNewPwd")
                <br />

                <br />

                <input type="submit" style="width: 55%;background-color: #6c63ff;border: none;color: #fff;" id="btnSubmit" name="btnSubmit" />


            }
            <p style="color:red;font-style:italic;font-weight:400;">
                @ViewBag.msg
            </p>
            <a asp-action="Index">Back to Login Page</a>
        </div>
    </div>
</div>

